$black: #1C1124;
$white: #fff;
$blue: #0000FF;
$gray: #8EA6B4;
$ltgray: #E7EFF3;

$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$radius: 5px;

$mobile: 600px;