$black: #1C1124;
$white: #fff;
$blue: #0000FF;
$green: #00E600;
$orange: #FF5500;
$gray: #8EA6B4;
$ltgray: #E7EFF3;

// $background: #1E4178;
// $foreground: #28AAE1;

$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$radius: 5px;

$mobile: 600px;
